{% extends "question-globals.njk" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
Who are you divorcing?
{% endset %}

{% block fields %}

  {% call formSection() %}
    {{ selectionButtons(fields.husbandOrWife, "Who are you divorcing?",
      options = [
        { label: "Your Wife", value: "wife" },
        { label: "Your Husband", value: "husband" }
      ]
    ) }}
  {% endcall %}

{% endblock %}
