sudo: required

services:
- docker

script:
- make build test

after_success:
- make coverage
- bash <(curl -s https://codecov.io/bash)

deploy:
  provider: npm
  email: jenkins-reform@hmcts.net
  api_key:
    secure: v6YHB7WwXDOA7vR+TknQ0boH9JyMmyKYXU2dI862boS5jP/eE3ItdIO9/kvRTeO0vWf00XDoWUA1Y2OWADi4Ha3i95r/cxYAiwPBuZFqi9Un8ecOsPZ9sX/PTBc2GUX6dM0itxr+lSj9ZEC2Ml63F3K9TGowH88FyfN/U6cvNF9AC1qzA9uvrk5ocHT2HV7cZbstpkk7egUI2rxs5rjtGAffYGPDYgz3lZHi8m7Gh5qW0BVjsYqWzkWhdikXO99MUTA2qrLwACGQFo8ZgkDjy7Jjt2iBx2ofSgS4ArIWsSpHx4/KAMUs1nLvgX2cIjJnsHLf74wXvypiweDmOgh37zOD84fIaC4KaL54NzbPOAcxk5HUfd61OIsn0sbNVP3gFGS8TLZ4zorPazDQIE0PdJGf/SSy+5S6dKn2oO9fGMZDtRTaF7cecm5bB2jAEYUQjfHdoU9mRcyanof0kwPkkmh31Z1DpdAzRJeDAEi9nxJ8FonjdWhkd3qXhJIIbHA1JgiwBXIOIXXlSS6okri1huGQ3cWaNKdoCv3qKivq+BWd5gvF+wiJoV22nTEcokzrgo+7DOGgRNA0gyp16poiK26ueELfeiQX2Y4+0cdFxNmmI0onOTYg4W7wo2jWX/8GE/AqmDdjU+f3BKPIkYdypOOqzo7dP5sbzazN65RLbaA=
  on:
    tags: true
    repo: hmcts/one-per-page
