{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}

{% block head -%}
<link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">{{ content.title }}</strong>
      <span>{{ content.subTitle | safe }}</span>
    </p>
  </div>

	<div class="grid-row">
		<div class="column-two-thirds">

			<div class="govuk-box-highlight">

        <h1 class="bold-large">{{ content.applicationComplete }}</h1>

        <p>
          {{ content.yourRefNumber }}<br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>

			</div>

      <h2 class="heading-medium">{{content.whatHappensNext}}</h2>

      <p class="text">{{ content.checkYourApplication }}</p>
    </div>

  </div>

</main>
{% endblock %}
