{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import textbox, formSection %}

{% set phase="ALPHA" %}
{% set feedbackLink="https://github.com/hmcts/one-per-page/issues/new" %}
{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block head -%}
<link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block fields %}

  {% call formSection() %}
    {{ textbox(fields.get('firstName'), fields.get('firstName').content.title, hint=fields.get('firstName').content.hint) }}
    {{ textbox(fields.get('lastName'), fields.get('lastName').content.title) }}
  {% endcall %}

{% endblock %}
