{% extends "question-globals.njk" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
  {{ content.title }}
{% endset %}

{% block fields %}

  {% call formSection() %}
    {{ selectionButtons(fields.contactMe, content.title,
      inline = true,
      options = [
        { label: 'Yes', value: 'yes', target: 'contact-methods' },
        { label: 'No', value: 'no' }
      ]
    ) }}

    <div class="panel panel-border-narrow js-hidden" id="contact-methods">
      {{ selectionButtons(fields.contactMethod, content.contactMethod,
        hideQuestion = false,
        type = 'checkbox',
        options = [
          { label: content.options.phone, value: "phone" },
          { label: content.options.email, value: "email" },
          { label: content.options.post, value: "post" }
        ]
      ) }}
    </div>
  {% endcall %}

{% endblock %}


