{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import textbox, formSection %}

{% set phase="ALPHA" %}
{% set feedbackLink="https://github.com/hmcts/one-per-page/issues/new" %}
{% set title %}
  {{ content.title | safe }}
{% endset %}

{% block head -%}
<link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block fields %}

  {% call formSection() %}
    {{
      textbox(
        fields.firstName,
        content.fields.firstName.title,
        hint=content.fields.firstName.hint
      )
    }}
    {{ textbox(fields.lastName, content.fields.lastName.title) }}

    {{
      textbox(
        fields.respondentFirstName,
        content.fields.respondentFirstName.title,
        hint=content.fields.respondentFirstName.hint
      )
    }}
    {{ textbox(fields.respondentLastName, content.fields.respondentLastName.title) }}

  {% endcall %}

{% endblock %}
